* {
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 768px) {
    html {
        height: 100%;
    }
    body {
        font: 12px arial;
        overflow: hidden;
        min-height: 600px;
        min-width: 800px;
        position: relative;
        height: 100%;
    }
    .wap {
        display: none;
    }
    /*移动端*/
    .pic {
        width: 140px;
        height: 60px;
        margin-left: -70px;
        margin-top: 95px;
    }
   /* baidu logo*/
    .onright {
        color: #333;
        font-weight: bold;
        line-height: 24px;
        font-size: 13px;
        text-decoration: underline;
    }
    .onright:hover {
        color: #00c;
    }
    /*链接样式*/
    #link {
        position: absolute;
        right: 5px;
    }
    /*链接整体方位*/
    .more {
        color: white;
        margin-left: 10px;
        background: #38f;
        width: 60px;
        height: 23px;
        text-decoration: none;
    }
    /*更多产品*/
    #baidu {
        height: 129px;
        margin-left: 50%;
    }
    .sskuang {
        height: 36px;
        width: 640px;
        position: absolute;
        margin-left: 50%;
        margin-top: 50px;
    }
    #sousuo {
        box-sizing: border-box;
        height: 34px;
        width: 460px;
        margin-left: -270px;
        padding-left: 5px;
        float: left;
        border: 1px solid #ccc;
        outline: none;
    }
    #sousuo:focus {
        border: 1px solid #3385ff;
    }
    /*输入框*/
    .so {
        width: 100px;
        height: 34px;
        color: white;
        font-size: 15px;
        background: #3385ff;
        border: 0;
        border-bottom: 1px solid #2d78f4;
        outline: medium;
        cursor: pointer;
        float: left;
    }
    .so:hover {
        background: #317ef3;
        border-bottom: 1px solid #2868c8;
    }
   /* 百度一下按钮*/
    #microphone {
        position: absolute;
        left: 120px;
        top: 8px;
        width: 20px;
        height: 20px;
        background: url("../baiduimage/mic.png") ; 
        background-size: 25px 25px;
        background-position: 0 50%;
        cursor: pointer;
    }
    #microphone:hover {
        background: url("../baiduimage/mic1.png");
        background-size: 25px 25px;
        background-position: 0 50%;
    }
    #microphone::after {
        content: " ";
        display: inline-block;
        height: 16px;
        width: 0;
        border-left: 1px solid #e7e7e7;
        margin: 2px 0 10px 30px;
    }
    /*麦克风样式和变化以及后面的竖*/
    #camera {
        position: absolute;
        left: 165px;
        top: 10px;
        width: 18px;
        height: 16px;
        background: #fff url("../baiduimage/camera.png") no-repeat 0 0;
    }
    #camera:hover {
        background-position: 0 28%;
    }
   /* 相机的样式及变化*/
    #erweima1 {
        position: absolute;
        left: 23%;
        bottom: 7%
    }
    #sjbaidu {
        position: absolute;
        left: 31%;
        bottom: 9%;
    }
    #erweima2 {
        position: absolute;
        left: 39%;
        bottom: 7%
    }
    #nuomi {
        position: absolute;
        left: 47%;
        bottom: 9%;
    }
    /*二维码*/
    b {
        color: #333;
    }
    span {
        color: #999;
    }
    .abbaidu {
        position: absolute;
        left: 56%;
        bottom: 8%;
    }
    #beizhu {
        color: #999;
    }
    .down {
        color: #999;
    }
    /*备注*/
}

@media screen and (max-width: 768px) {
    .pc {
        display: none;
    }
    /*pc端*/
    .wap {
        display: block;
    }
    body {
        background: #eeeff0;
        font-family: Arial, Helvetica, sans-serif;
        overflow-x:hidden;
    }
    .user{
        position: absolute;
        right:20px;
        margin-top: 15px;
    }
    /*用户登录按钮*/
    .weather{
        margin-top: 15px;
        margin-left: 10px;
    }
    /*天气*/
    #baidu {
        height: 60px;
        margin-left: 50%;
    }
    .pic {
        width: 140px;
        height: 60px;
        margin-left: -70px;
        margin-top: 50px;
    }
   /* baidu logo*/
    #sousuo {
        width:75%;
        height: 44px;
        padding-left: 5px;
        float: left;
        border: 1px solid #ccc;
        outline: none;
        box-sizing: border-box;
    }
    #sousuo:focus {
        border: 1px solid #3385ff;
    }
    /*输入框*/
    .so {
        width: 25%;
        height: 44px;
        color: white;
        font-size: 15px;
        background: #3385ff;
        border: 0;
        border-bottom: 1px solid #2d78f4;
        outline: medium;
        cursor: pointer;
        float: left;
        box-sizing: border-box;
    }
    .so:hover {
        background: #317ef3;
        border-bottom: 1px solid #2868c8;
    }
    /*百度一下*/
    #microphone {
        position: absolute;
        left: 60%;
        top: 208px;
        width: 15px;
        height: 20px;
        background: url("../baiduimage/mbaidumc.png");
        background-size: 37px 20px;
    }
    #microphone:after {
        border: 0;
    }
    /*麦克风*/
    #camera {
        content: "";
        width: 0;
        height: 0;
        background: transparent;
        border: 4px solid transparent;
        border-top-color: #717077;
        position: absolute;
        left: 68%;
        top: 215px;
    }
    #camera:hover {
        content: "";
        width: 0;
        height: 0;
        background: transparent;
        border: 4px solid transparent;
        border-bottom-color: #717077;
        position: absolute;
        left: 240px;
        top: 160px;
    }
    /*麦克风后面的小三角形*/
    .sskuang {
        height: 44px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 85px;
    }
    #link {
        height: 60px;
        width: 90%;
        margin-left:auto;
        margin-right: auto;
        margin-top: 25px;
        text-align:center; 
    }
    /*nav整体*/
    .onright {
        color: #333;
        font-weight: bold;
        line-height: 24px;
        font-size: 13px;
        text-decoration: none;
        display: block;
        width: 13%;
        float:left;
        margin-left: 10px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .onright:hover {
        color: #00c;
    }
/*链接nav*/
    .webaddr {
        width: 95%;
        height: 120px;
        background: rgb(255, 255, 255);
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }
    .webaddr a {
        float: left;
        display: block;
        position: relative;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 25%;
        height: 42px;
        line-height: 42px;
        color: #333;
    }
    .webaddr a span {
        display: inline-block;
        position: relative;
        padding: 0 6px 0 10px;
        max-width: 100%;
        box-sizing: border-box;
        font-size: 14px;
    }
    /*常用网址*/
    h2 {
        line-height: 40px;
        font-size: 15px;
        font-weight: normal;
        color: #999;
        margin-top: -5px;
        margin-left: 5px;
    }
    .sandian {
        position: absolute;
        right: 15px;
        margin-top: -38px;
    }
    /*设置*/
    .add {
        margin-left: 15px;
    }
    /*添加*/
    .life {
        width: 95%;
        height: 320px;
        background: rgb(255, 255, 255);
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .sandian1 {
        position: absolute;
        right: 15px;
        margin-top: -38px;
    }
    .location {
        position: absolute;
        right: 15px;
        margin-top: -23px;
    }
    /*定位*/
    .dingwei {
        margin-top: 5px;
        margin-left:5px;
    }
    .life a {
        float: left;
        display: block;
        position: relative;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 25%;
        height: 110px;
        line-height: 42px;
        color: #333;
        text-decoration: none;
        margin-top: 5px;
    }
    .life a p {
        margin-top: -15px;
        margin-left: 12px;
    }
    .life p {
        font-size: 14px;
    }
    .piclink {
        margin-left: 25px;
        margin-top: 10px;
    }
    /*生活*/
    .plus-control {
        height: 47px;
        line-height: 47px;
        border-top: 1px solid #f0f0f0;
        margin-top: 225px;
        font-size: 16px;
        color: #262626;
        text-align: center;
    }
    .plus-control span {
        position: absolute;
        left: 40%;
        margin-top:-5px;
    }
    /*展示全部*/
    .zhanshi {
        position: absolute;
        left: 60%;
        margin-top: 6px;
    }
    #back {
        text-align: center;
    }
    .feedback {
        position: relative;
        top: -1px;
        margin-top: 5px;
    }
    /*用户反馈*/
    .dibu {
        color: #999;
        font-size: 12px;
        margin-top: 60px;
    }
    .down {
        color: #999;
        text-decoration: none;
    }
    .back {
        color: #333;
        text-decoration: none;
    }
    .xuzhi {
        margin-top: 10px;
        text-align: center;
    }
    #feedback {
        position: relative;
        top: -8px;
    }
    /*管理我的卡片*/
    .manage {
        height: 47px;
        line-height: 47px;
        color: #333;
        font-size: 16px;
        background: rgb(255, 255, 255);
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    /*底部样式*/
}